a:hover {text-decoration: underline;
background-color: orange;
color: white;
font-style: italic;
font-weight: lighter; }
h1 {font-family: helvetica;
background-color:orange;
color: white; text-align: center;
font-weight: lighter;
text-shadow: 2px 2px 3px #666666;
border-style: double;
border-width: 5px;
 }
ul {font-family: helvetica;
text-decoration: none;}
li {font-family: helvetica;
font-weight: lighter}
 a {font-family: helvetica; text-decoration: none;
  font-weight: bolder;
  color: black;}
footer {font-family: helvetica;
background-color: orange;
color: white; 
text-align: center; 
font-weight: lighter;
text-shadow: 2px 2px 3px #666666;
border-style: double;

}
p {font-family: helvetica;
  font-weight: lighter;

}
h3 {font-family: helvetica;
 text-align: center;
font-weight: lighter;
text-decoration: none;
color: black;
}

input { background-color: orange;
  color: white;
font-family: helvetica;}


/* * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
