

<div class= "Menu">
  <h1 class= "Menu">Menu</h1>
  <p><b><i>Subway Menu</b></i></br>


<strong>FRESH FIT SUBS</strong></br>

<i>Under 6 Grams of Fat<i></br>

<strong>Veggie Delite®</strong> 
The Veggie Delite® is a delightfully crunchy combination of garden fresh 
lettuce, tomatoes, green peppers, onions, olives and pickles and your choice 
of fat-free condiments served on freshly baked bread. It’s like a salad sandwich.</br>

<b>Ham</b></br> 
What could be better than a simple, savory ham sub sandwich? 
Try our sliced, lean ham on a flavored bread, garnished with your favorite crisp veggies 
or mustard, or sweet onion sauce, or…hey, it’s your choice!</br>

<b>Turkey Breast</b></br> 
High in flavor and low in fat, our sliced Turkey Breast is perfectly 
complemented by crisp, crunchy veggies and your choice of fat-free condiments.</br>

<b>Turkey Breast & Ham</b></br> 
<b>Savory Turkey Breast & Ham</b></br>
Two great taste sensations in one terrific sandwich.
Imagine an ensemble of delicious lean and tender sliced turkey breast
and smoky sliced ham with your choice of fresh vegetables and your
choice of fat-free condiments served on freshly baked bread. </br>

<b>Roast Beef</b></br> 
Roast Beef, a classic favorite, is the stuff dreams are made of. 
Lean and tender sliced roast beef with your choice of fresh vegetables and 
your choice of fat-free condiments served on freshly baked bread.</br> 

<b>Oven Roasted Chicken Breast</b></br> 
Feel right at home with the Oven Roasted Chicken Breast.
A tender, boneless chicken breast patty roasted to perfection,
with your choice of fresh vegetables and your choice of
fat-free condiments served on freshly baked bread.
Just like mother used to make.</br> 

<b>Subway® Club</b></br> 
The Subway® Club is another delectable sandwich. 
A taste-tempting combination of our famous lean and 
tender, sliced turkey breast, sliced roast beef; 
and savory, sliced ham with your choice of fresh vegetables and your choice
of fat-free condiments served on freshly baked bread.</br>

<b>Sweet Onion Chicken Teriyaki </b>
Sweet Onion Chicken Teriyaki is one of our gourmet inspired specialities.
We take lean and tender, savory, teriyaki glazed chicken strips 
topped with Subway’s own fat-free Sweet Onion Sauce. 
It’s a flavorful blend served hot with your choice of fresh vegetables
and your choice of fat-free condiments on freshly baked bread.</br> 

<b>FRESH TOASTED</b></br>

<b>Hot & Fresh Toasted</b></br>

<b>Meatball Marinara</b></br>
Meatball Marinara. A generous helping of Italian-style
meatballs bathed in Subway’s own tangy marinara sauce 
(our founder’s mom’s secret recipe) served hot with your choice
of fresh vegetables and condiments on freshly baked bread. Mangia!</br>

<b>Italian BMT®</b></br>
Italian B.M.T.® An old-world favorite. 
Sliced Genoa salami, pepperoni and ham 
and your choice of fresh vegetables and
condiments served on freshly baked bread.
Some say BMT stands for biggest, meatiest, tastiest.
We wouldn’t disagree.</br> 

<b>Spicy Italian</b></br>
Here’s Old World quality in a zesty blend of pepperoni 
and salami slices, topped with cheese, if you please! 
Oil and vinegar on that, with some hot peppers?
We’ll garnish it the way you say – and fresh
toasting all the way through adds the crowning touch!</br> 

<b>Steak & Cheese</b></br> 
The juicy SUBWAY® “Steak & Cheese” sub features tender cuts 
of seared, diced steak, blended with fire-roasted and grilled 
sweet bell peppers and onions, topped off with cheese,
then “fresh Toasted”™ to draw out its full flavor and texture.</br> 

<b>Subway® Melt</b></br> 
If a picture is worth a thousand words, what do you 
picture when you hear the words SUBWAY® Melt?
How about lean and tender sliced turkey, ham and crispy bacon 
topped with melted cheese and served hot with your choice
of fresh vegetables and condiments on freshly baked bread. Mmm.</br> 

<b>Chicken & Bacon Ranch</b> </br>
The fresh toasted SUBWAY® Chicken & Bacon Ranch sub is made with melted 
Monterey Cheddar cheese, all-white meat chicken breast strips, bacon strips, lettuce, 
tomato wheels, onions, green pepper strips, black olive slices, and ranch dressing.
Where available, other cheeses may be substituted at the customer's request.</br> 



</p>
</div>