
<div class= "About">
<h1>About</h1>
<p>Subway (stylized as SUBWAY) is an American fast food restaurant franchise that primarily sells submarine sandwiches (subs) and salads. It is owned and operated by Doctor's Associates, Inc. Subway is one of the fastest growing franchises in the world, with 42,174 restaurants in 107 countries and territories as of July 23, 2014.[1] It is the largest single-brand restaurant chain and the largest restaurant operator globally.[3][4][5]

Subway's international headquarters is in Milford, Connecticut; five regional centers support Subway's international operations. The regional offices for European franchises are located in Amsterdam, Netherlands; the Australia and New Zealand locations are supported from Brisbane, Australia; the Asian locations are supported from offices located in Beirut, Lebanon, and Singapore; and the Latin America support center is in Miami, Florida.[6]</p></div>
</body>
</html>