<html>
<head>
  <link rel="stylesheet" type="text/css" href="design.css">
<title></title>
</head>

<body>
<div class= "Header"><img src="Img/Subway_logo.svg">
  <ul class="Nav_Bar">
      <li><a href="/">Menu</a></li>
      <li><a href="/1">About</a></li>
      <li><a href="/2">Locations</a></li>
  </ul>
</div>
<%= yield %>
<div class= "Footer">
  <p class= "Address">325 Bic Drive
Milford, CT 06461-3059 USA</p>
</div>
</body>
</html>