<html>
<head>
  <title>Welcome to My Blog</title>
</head>
<link rel="stylesheet" type="text/css" href="blog.css">
<body>
<h1>This is My Blog</h1>
<%= yield %>
<hr>
Powered by Michael Dion
</body>
</html>