body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.btn.btn-lg.label.label-primary{
  font-size: 13px;
}
.btn.btn-lg.label.label-primary.a{
  font-size: 12px;
}
