%h1 New Patient
= render 'form'
%ul.breadcrumb
  %li
    %a{:href => "../"} Tracker Home
  %li
    %a{:href => "/hospitals"} Hospital Hub
  %li
    = link_to 'Hospital Homepage (back)', hospital_path(@hospital)
  %li.active New Patient